.App {
  text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


.homepage {
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage h1 {
    color: #fff;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.homepage h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.feedback form {
    width: 400px;  /* Smaller width */
    background-color: white;
    padding: 30px;  /* Larger padding */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.feedback h1 {
    text-align: center;
    margin-bottom: 30px;  /* Larger margin */
    color: #333;
    font-size: 2em;  /* Larger text */
}

.feedback label {
    display: block;
    margin: 15px 0;  /* Larger margin */
    font-size: 1.2em;  /* Larger text */
    color: #333;
}

.feedback input, .feedback textarea {
    width: 100%;
    border: 1px solid #888;
    padding: 15px;  /* Larger padding */
    font-size: 1.2em;  /* Larger text */
    border-radius: 3px;
}

.feedback input[type="date"] {
    font-size: 1.1em;  /* Larger text */
}

.feedback input[type="submit"] {
    width: auto;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 10px 20px;  /* Larger padding */
    font-size: 1.2em;  /* Larger text */
    margin-top: 30px;  /* Larger margin */
}

.feedback input[type="submit"]:hover {
    background-color: #0056b3;
}
