.App {
  text-align: center;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: red;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.about {
    background-color: #4CAF50;
}


.homepage {
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage h1 {
    color: #fff;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.homepage h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

/* Use gradient background for the overall feedback container */
.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #83a4d4, #b6fbff); /* Gradient */
    font-family: 'Poppins', sans-serif; /* Use a modern font */
}

/* Stylish form container */
.feedback form {
    width: 400px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    border-radius: 5px;
    margin: 0 auto;
    max-width: 600px; /* To ensure the form isn't too wide on larger screens */
    margin-top: 20px; /* To ensure it's not touching the screen top */
}

.feedback h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 2em;
}

.feedback label {
    display: block;
    margin: 15px 0;
    font-size: 1.2em;
    color: #333;
}

.feedback input, .feedback textarea {
    width: 100%;
    border: 1px solid #888;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 3px;
}

.feedback input[type="date"] {
    font-size: 1.1em;
}

.feedback input[type="submit"] {
    width: auto;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 30px;
}

.feedback input[type="submit"]:hover {
    background-color: #0056b3;
}

.rating-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.rating-section p {
    margin-right: 20px;
}

.star {
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.2s;
    color: darkgray;
}

.active {
    color: gold;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ .star {
    color: gold;
}

input[type="radio"]:checked ~ .star,
input[type="radio"]:checked ~ label:nth-of-type(-n+5) .star,
input[type="radio"]:checked ~ label:nth-of-type(-n+4) .star,
input[type="radio"]:checked ~ label:nth-of-type(-n+3) .star,
input[type="radio"]:checked ~ label:nth-of-type(-n+2) .star {
    color: gold;
}
